<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>eLibrary</title>
    <link rel="icon" type="image/png" href="/favicon2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .active-page-link {
            font-weight: bold;
            color: #007bff;
        }
        .custom-width {
            width: auto;
            max-width: 300px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">eLibrary</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/loans}">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/authors}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/publishers}">Publishers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" th:if="${userStatus == 'declined'}">
    <br>
    <div class="alert alert-danger">
        Your account has not been verified. Please try again or contact the administrator.
    </div>
</div>
<div class="container" th:if="${userStatus == 'accepted'}">
    <br>
    <div class="row col-md-10">
        <h2>Books found in database</h2>
    </div>
    <br>
    <div class="form-group mb-3">
        <span>
            <a th:href="@{/add-book}" class="btn btn-success">Add a new book</a>
        </span>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            You cannot delete a book which has a loan history!
        </div>
    </div>
    <div th:if="${param.noData}">
        <div class="alert alert-danger">
            There are no books in the database.
        </div>
    </div>

    <div class="form-group" th:unless="${param.noData}">
        <label for="sortBySelect">Sort by</label><br>
        <select class="form-select custom-width" id="sortBySelect" name="sortBy" style="display: inline">
            <option value="title" th:selected="${param.sortBy == 'title' && param.sortDirection == null}">Title</option>
            <option value="stock" th:selected="${param.sortBy == 'stock' && param.sortDirection == 'asc'}">Stock (ascending)</option>
            <option value="stockDesc" th:selected="${param.sortBy == 'stock' && param.sortDirection == 'desc'}">Stock (descending)</option>
            <option value="year" th:selected="${param.sortBy == 'year' && param.sortDirection == 'asc'}">Publishing year (ascending)</option>
            <option value="yearDesc" th:selected="${param.sortBy == 'year' && param.sortDirection == 'desc'}">Publishing year (descending)</option>
        </select>

        <form id="sortForm" th:action="@{/books}" method="get" style="display: inline">
            <input type="hidden" id="sortByInput" name="sortBy">
            <input type="hidden" id="sortDirectionInput" name="sortDirection">
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
    </div>

    <br>

    <table class="table table-bordered table-hover" th:unless="${param.noData}">
        <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Publishing year</th>
            <th>Stock</th>
            <th>Publisher</th>
            <th>Authors</th>
            <th>Categories</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "book : ${books}">
            <td th:text = "${book.title}"></td>
            <td th:text = "${book.year}"></td>
            <td th:text = "${book.stock}"></td>
            <td th:text = "${book.publisher.name}"></td>
            <td>
                <span th:each="author, iterStat : ${book.authors}">
                    <span th:text="${author.firstName} + ' ' + ${author.lastName}"></span>
                            <span th:if="${!iterStat.last}">,</span>
                </span>
            </td>
            <td>
                <span th:each="category, iterStat : ${book.categories}">
                            <span th:text="${category.name}"></span>
                            <span th:if="${!iterStat.last}">,</span>
                        </span>
                </span>
            </td>
            <td>
                <form th:action="@{'/edit-book/' + ${book.id}}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-success">Edit</button>
                </form>
                <form th:action="@{'/delete-book/' + ${book.id}}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:unless="${param.noData}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/books(page=${currentPage - 1},size=${pageSize},sortBy=${param.sortBy},sortDirection=${param.sortDirection})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                <a class="page-link"
                   th:href="@{/books(page=${pageNumber},size=${pageSize},sortBy=${param.sortBy},sortDirection=${param.sortDirection})}"
                   th:text="${pageNumber + 1}"
                   th:classappend="${pageNumber == currentPage} ? 'active-page-link' : ''">
                </a>
            </li>

            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/books(page=${currentPage + 1},size=${pageSize},sortBy=${param.sortBy},sortDirection=${param.sortDirection})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <script>
        document.getElementById('sortForm').addEventListener('submit', function() {
            // Get the selected value from the dropdown
            var selectedValue = document.getElementById('sortBySelect').value;
            // Set the value of the hidden input fields based on the selected value
            if (selectedValue.endsWith('Desc')) {
                document.getElementById('sortByInput').value = selectedValue.substring(0, selectedValue.length - 4);
                document.getElementById('sortDirectionInput').value = 'desc';
            } else {
                document.getElementById('sortByInput').value = selectedValue;
                document.getElementById('sortDirectionInput').value = 'asc';
            }
        });
    </script>

</div>
</body>
</html>